<?xml version="1.0" encoding="utf-8"?>
<sections>
    <section name="config">
        <setting name="font" type="string">Monospace</setting>
        <setting name="font-size" type="int">10240</setting>
        <setting name="font-bold" type="bool">false</setting>
        <setting name="font-italic" type="bool">false</setting>
        <setting name="visible-languages" type="strings">
            <item>python</item>
            <item>jigsaw</item>
            <item>scheme</item>
            <item>spreadsheet</item>
            <item>ruby</item>
        </setting>
        <setting name="recent-files" type="strings">
            <item>/home/hsartoris/scribbler/controller1.py</item>
        </setting>
        <setting name="recent-files-size" type="int">15</setting>
        <setting name="cloud-path" type="string">/home/hsartoris/.config/calico/Cloud</setting>
        <setting name="toolSwapped" type="bool">false</setting>
        <setting name="verticalSwapped" type="bool">false</setting>
        <setting name="horizontalSwapped" type="bool">false</setting>
        <setting name="window-x" type="int">0</setting>
        <setting name="window-y" type="int">25</setting>
        <setting name="window-width" type="int">1280</setting>
        <setting name="window-height" type="int">742</setting>
        <setting name="shell-height" type="int">357</setting>
        <setting name="shell-width" type="int">485</setting>
        <setting name="remember-window-position" type="bool">false</setting>
    </section>
    <section name="calico">
        <setting name="version" type="double">2</setting>
        <setting name="font" type="string">Courier</setting>
        <setting name="font-size" type="int">10</setting>
    </section>
    <section name="shell">
        <setting name="history" type="strings">
            <item></item>
        </setting>
        <setting name="history-size" type="int">50</setting>
    </section>
    <section name="basic-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="boo-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="brainscrew-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="collaborate-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="console-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="csharp-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="dinah-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="fsharp-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="images-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="java-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="jigsaw-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
        <setting name="ask-delete-block" type="bool">true</setting>
    </section>
    <section name="lc3-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="logo-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="lua-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="python-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="ruby-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
    <section name="scheme-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
        <setting name="use-stack-trace" type="bool">true</setting>
    </section>
    <section name="spreadsheet-language">
        <setting name="reset-shell-on-run" type="bool">true</setting>
    </section>
</sections>