.rtiy__dictionary {
	width: 300px;
}

.rtiy__blacklist {
	color: blue;
	cursor: pointer;
	cursor: hand;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}